{% extends "leon_app/components/base.html" %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div style="position: relative; width: 100%; display: inline-block;">
  <img id="hero-image" src="{% static 'leon_app/background.jpg' %} " alt="hero image">
  <div style="position: absolute; bottom: 10%; left: 10%; color: white;">
    <h1 class = "custom" style="font-size: 96px; margin-bottom: 0;">WELCOME!</h1>
    <h2 class = "custom" style="font-size: 32px; margin-top:0; margin-bottom: 0;">To my website</h2>
  </div>
</div>

<h1>Latest projects</h1>

<!-- projects grid -->
{% include "leon_app/components/projects-grid.html" with projects=projects %}

<div class="centering">
  <a href="{% url 'leon_app:projects' %}"><button class='big_button'>See all projects</button></a>
</div>

<hr>
<!-- about -->
<h1>What is this website?</h1>
<h3>This is a website for showcasing my projects and collecting feedback. My projects are usually (but not exclusively) animations created with the open-source software <a href = 'https://www.blender.org/'>Blender</a>. Please feel free to look at some of the projects give feedback on them. It's always helpful!</h3>

<div class="centering">
  <a href="{% url 'leon_app:about' %}"><button class='big_button'>See about</button></a>
</div>

{% endblock %}