{% extends "leon_app/components/base.html" %}
{% load static %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
    <div style="position: relative; display: inline-block;">
        <img id="hero-image" src="{% if project.thumbnail %}{{ project.thumbnail.url }}{% else %}{% static 'leon_app/default.png' %}{% endif %} " alt="{{ project.name }}">
        <div style="position: absolute; bottom: 10%; left: 10%; color: white;">
        <h1 class = "custom" style="font-size: 96px; margin-bottom: 0;">{{ project.name }}</h1>
        <h2 class = "custom" style="font-size: 32px; margin-top:0; margin-bottom: 0;">{{ project.short_desc }}</h2>
        </div>
    </div>

    <h1>Quick overview</h1>
    <p class="large">{{ project.description }}</p>

    <hr>

    <h1>Posts</h1>

    {% for post in posts %}
        <div class="pane"  style="margin-bottom: 16px">
            <h1>{{ post.title }}</h1>
            <p class = "tiny">{{ post.created }}</p>
            <div>{{ post.content_html|safe }}</div>
        </div>
    {% empty %}
        <p>No posts yet.</p>
    {% endfor %}

    <hr>

    <!-- Feedback -->
    <h1>Leave Your Feedback!</h1>
    <h2>Please feel free to post any feedback to the work presented here. No login required.</h2>

    <!-- Feedback form-->
    <form method="post" action="{% url 'leon_app:project' project.pk %}">
        {% csrf_token %}
        {% if user.is_authenticated %}
            <div style = "width: 99%; padding-left: 10px; margin-bottom: 12px; box-shadow: 0 5px 20px rgba(0,0,0,0.1); border-radius: 8px;">
                <h3 class="custom">Name: {{ user.username }}</h3>
            </div>
        {% else %}
            {{ form.name }}
        {% endif %}
        {{ form.text }}
        <button type="submit" style="margin-left: 25%; margin-right: 25%">Submit</button>
    </form>

    <hr>

    <!-- Other users feedback -->
    <h1>Other User Feedback</h1>
    <div class="pane">
        {% for fb in project.feedbacks.all %}
            <div id="feedbacks_card">
                <h3 class="custom">{{ fb.name }}</h3>
                <p class="tiny">{{ fb.created }}</p>
                <p class="custom">{{ fb.text }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}