{% extends "leon_app/base.html" %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block content %}
  <div style="position: relative; display: inline-block;">
    <img id="hero-image" src="{% static 'leon_app/projects.jpg' %} " alt="hero image">
    <div style="position: absolute; bottom: 10%; right: 10%; color: white;">
      <h1 class = "custom" style="font-size: 96px; margin-bottom: 0;">PROJECTS</h1>
      <h2 class = "custom" style="font-size: 32px; margin-top:0; margin-bottom: 0;">Here, you can find all my projects</h2>
    </div>
  </div>

  <div>
    <h1 class="left">From: newest/oldest/alphabetical/top</h1>
    <div class="search">
      <input type="text" name="search" placeholder="Search">
    </div>
  </div>

  <!-- projects grid -->
  <div class = "projects-grid">
    {% for i in projects %}
      <a href="{% url 'leon_app:project' i.pk %}" style="text-decoration: none; color: inherit;">
        <div class="grid-card">
          <div style="border-radius: 8px; overflow: hidden;">
            <img src="{% if i.thumbnail %}{{ i.thumbnail.url }}{% else %}{% static 'leon_app/default.png' %}{% endif %}" alt="{{ i.name}}">
          </div>
          <p class="tiny" style="margin-bottom: 0; padding-bottom: 0; text-align: right;">{{ i.created }}</p>
          <h3 style="margin-top: 0; padding-top: 0;">{{ i.name }}</h3>
          <p>{{ i.description }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}