{% extends "leon_app/components/base.html" %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block content %}
  <div style="position: relative; display: inline-block;">
    <img id="hero-image" src="{% static 'leon_app/projects.jpg' %} " alt="hero image">
    <div style="position: absolute; bottom: 10%; right: 10%; color: white;">
      <h1 class = "custom" style="font-size: 96px; margin-bottom: 0;">PROJECTS</h1>
      <h2 class = "custom" style="font-size: 32px; margin-top:0; margin-bottom: 0;">Here, you can find all my projects</h2>
    </div>
  </div>

  <div>
    <h1 class="left">Sorting: WIP</h1>
    <div class="search">
      <!-- <input type="text" name="search" placeholder="Search (WIP)"> -->
    </div>
  </div>

  <!-- projects grid -->
  {% include "leon_app/components/projects-grid.html" with projects=projects %}
{% endblock %}