:root {
  --accent: #4080ff;
  --accent_bold: #0062ff;
  --main_color: #ffffff;
  --footer: #404040;
  --light_text: #808080;
  --very_light_text: #aaaaaa;
}


html {
  height: 100%;
  color: var(--footer);
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
}
button {
  background-color: var(--accent);
  box-shadow: 0 5px 20px rgba(171, 152, 152, 0.1);
  color: var(--main_color);
  font-size: 16px;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
button:hover {
  background-color: var(--accent_bold);
  color: var(--main_color);
}
hr {
  margin-top: 5%;
  margin-left: 10%; 
  margin-right: 10%; 
  height:2px;
  border-width:0;
  color: var(--very_light_text);
  background-color: var(--very_light_text);
}

/* form */
form {
  display:grid;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 10px;
  padding: 20px;
}
input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  font-size: 16px; 
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  border: none;
  border-radius: 8px;
  resize: none;
}
input::placeholder, textarea::placeholder {
  color: var(--very_light_text);
  font-family: Arial, Helvetica, sans-serif;
}


.centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* interactable stuff */
.search {
  position: absolute;
  bottom: 25px;
  right: 10%;
  color: #000000;
}
.big_button {
  font-size: 24px;
  margin-top: 20px;
  padding: 8px 16px;
}

/* text settings */
h1:not(.custom) {
  text-align: center;
  font-size: 32px;
  padding-top: 16px;
}
h2:not(.custom) {
  text-align: center;
}
h3:not(.custom) {
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
}
.tiny {
  color: var(--very_light_text);
  font-size: 12px;
}
.left {
  text-align: left !important;
  padding-left: 10%;
}
p:not(.custom):not(.tiny) {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 16px;
  text-align: justify;
  hyphens: auto;
}

/* footer */
#footer {
  /* margin-top: 16px; */
  padding-top: 16px;
  /* background-color: var(--footer); */
}
#footer p{
  color: var(--very_light_text);
}
#footer a{
  color: var(--very_light_text);
  text-decoration: none;
}
#footer a:hover{
  text-decoration: underline;
}


/* feedbacks */
#feedbacks {
  display:grid;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 10px;
  padding: 20px;
}
#feedbacks_card {
  width: 100%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
}


/* projects grid */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  gap: 20px;
  padding-left: 10%;
  padding-right: 10%;
}
.grid-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  text-align: center;
  padding: 15px;
  transition: transform 0.3s ease;
}
.grid-card p {
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}
.grid-card img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
}
.grid-card img:hover {
  transform: scale(1.05);
}


/* the hero image */
#hero-image {
  width: 100%;
  height: 80%;
  object-fit: cover;
}


/* top navigation */
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 16px 10%;
  padding-top: 24px;
  height: 32px;
}
.nav-left a,
.nav-right a {
  color: #000000;
  text-decoration: none;
  padding: 8px 16px;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}
.topnav a:hover {
  background-color: var(--accent_bold);
  color: var(--main_color);
}
.topnav a.active {
  background-color: var(--accent);
  color: #ffffff;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
.topnav a.active:hover {
  background-color: var(--accent_bold);
  color: #ffffff;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}